.main{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #F4F6F8;
}

.sensores-container{
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.sensor{
    width: 90%;
    height: 25%;

    background-color: white;
}